body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Inter', 'Oxygen',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: monospace;
	background-color: #eeeeee;
	color: #222;
	font-size: medium;
	padding: 4px;
	border-radius: 3px;
}

h1 {
	font-size: x-large;
	font-weight: 800;
}

details {
	font-size: 14px;
	margin: 8px;
}

details > p {
	margin: 2px 0 2px 22px;
	color: #222;
}

summary {
	font-size: 16px;
}

summary:hover {
	cursor: pointer;
}
